@media screen and (max-width: @tablet){

   .wrap{
        .w_top{
           .m_top{
                width: 730px;
                padding: 0 10px;
                background-image: none;
            }
        }
        .act_section{
            width: 730px;
            padding: 0 10px;
            margin: 0;
            background-color: transparent;
            // position: relative;
            // top: -400px;
            .as-left{
                float: none;
                background-color: none;
                width: 100%;
                ul{
                    margin: 0;
                    li{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }

   }

}
