@media screen and (max-width: @tablet){

   .wrap{
        .w_top{
           .m_top{
                padding: 0 10px;
                background-image: none;
            }
        }
        .act_section{
            border: 1px #f00 solid;
            margin: 0;
            .as-left{
                margin: 0;
                border: 1px #F00 solid;
                float:none;
                ul{
                   border: 1px blue solid;
                   overflow: hidden;
                   margin:0;
                    li{
                        width: 200px;
                        height: 200px;
                        border: 1px #F00 solid;
                        overflow: hidden;
                    }
                }
            }
        }

   }

}
