@media screen and (max-width:@tablet){

    .blog_section{
        // height: 920px;
        transition: 1s;
        .bs_right{
            .br_top{
                ul{
                    margin-left: 0;
                }
                li{
                    width: 42%;
                    .b_g{
                        span{
                            font-size: 12px;
                            padding: 0;
                            width: 100px;
                            text-align: center;
                        }
                        span:last-child{
                            position: relative;
                            top:0;
                            left: 15px;
                            display: inline-block;
                            width: 15px;
                        }
                    }
                }
                h4{
                    font-size:16px;
                    width: 100px;
                }
                p{
                    font-size:12px;
                }
                div.b_g::after{
                    content:"";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    position:relative;
                    left: 110px;
                    top: -20px;
                    border: 1px blue solid;
                }
                div.b_g::before{
                    content:"";
                    width: 15px;
                    height: 15px;
                    position:relative;
                    left: -20px;
                    top: 20px;
                    border: 1px #F00 solid;
                    display: inline-block;
                }
            }


            .br_mid{
                ul{
                    li.nth-child(1){
                        // display: none;
                        border: 1px #F00 solid;
                    }
                    nth-child(5){
                        // display: none;
                        border: 1px #F00 solid;
                    }
                }
                li{
                    height: 150px;
                    img{
                        padding:0;
                        width: 100%;
                    }

                    .b_pg{
                        margin: 40px 0 0 10px;
                        width: 150px;

                        h4{
                            width: 180px;
                            transition: 1s;
                            font-size: 16px;
                            text-align: center;
                            // margin-top:0;
                            // padding: 0;
                        }
                        .b_g{
                            span{
                                padding: 0;
                                width: 100px;
                                text-align: center;
                            }
                            span:last-child{
                                position: relative;
                                top:0;
                                left: 15px;
                                display: inline-block;
                                width: 15px;
                            }
                        }
                        div.b_g::after{
                            content:"";
                            width: 15px;
                            height: 15px;
                            position:relative;
                            left: 110px;
                            top: -20px;
                        }
                        div.b_g::before{
                            content:"";
                            width: 15px;
                            height: 15px;
                            position:relative;
                            left: -20px;
                            top: 20px;
                        }

                        p{
                          display: none;
                        }
                        span{
                            font-size: 12px;
                        }

                    }
                }
          }



        }

    }












}
