@media screen and (max-width:@tablet){

        .menu-bar{
            background-color: @color-sub;
            transition: 1s;

            ul{
                width: 750px;
                margin: 0 5px;
                transition: 1s;
                .menu{
                    width: 150px;
                    transition: 1s;
                  }
               }
         } //menubar
}

@media screen and (max-width:@mobile){

        .top-bar{
            background-color:#FFF;

            .t_right{
                     float:none;
                     li{
                         float:none;
                     }
                .cart{
                    display:none;
                }
                .user{
                    display:none;
                }
                .r_search{
                    .search{
                        display:none;
                    }
                }
            }
        } // topbar

        .menu-bar{
            background-color: @color-menu;
            transition: 1s;

            ul{
                width: 480px;
                transition: 1s;
                margin: 0 5px;
                .menu{
                    width: 95px;
                    transition: 1s;
                  }
               }
         } //menubar
}
