@media screen and (max-width: @tablet){

    .wrap{
        .shop_section{
            margin: 0;
            transition: 1s;
            .shop_left{
                float: none;
                .sl_top{
                    margin: 0;
                    li{
                      width: 18%;
                      margin-right: 5px;
                      padding: 0;
                    }
                }
                .sl_mid{
                  margin:0;

                }

            }



        }







    }
}

@media screen and (max-width: @mobile){
    .wrap{
        .ship_section{
            .shop_left{


            }



        }







    }
}
