@media screen and (max-width: @tablet){

    .wrap{
        .shop_section{
            height: 1000px;
            margin: 0;
            transition: 1s;
            .shop_left{
                float: none;
                .sl_top{
                    margin: 0;
                    ul{
                        margin: 5px;
                    }
                    li{
                      width: 27%;
                      margin-right: 5px;
                      padding: 0;
                    }
                }
                .sl_mid{
                    margin:0;
                  ul{
                    margin: auto;
                  }
                  li{
                    width: 28%;
                    margin: 0;
                  }
                .sl_con{
                  margin-bottom: 5px;
                }
            }

        }

    }







    }
}

@media screen and (max-width: @mobile){
    .wrap{
        .ship_section{
            .shop_left{


            }



        }







    }
}
