.wrap{
      background-color: #f0f0f0;
    // .m_top{
    //         width: 1920px;
    //         height: 180px;
    //         background-image: url('../images/au/au_bg.jpg');
    //         background-repeat: no-repeat;
    //         background-position-y: -580px;
    //         background-size: cover;
    //         h4{
    //             color: #FFF;
    //             font-size: 24px;
    //             text-transform: uppercase;
    //             text-align: center;
    //             padding: 40px;
    //         }
    //     }
        input{
            border: 1px @color-sub solid;
        }
        h4 span{
            font-size:14px;
            position:relative;
            top:3px;
            left:20px;
        }
        .su_section{
                width: 1200px;
                height: 1100px;
                margin: 0 360px;
                position: relative;
                top: -60px;
                background-color: #FFF;
                overflow: hidden;
        .need_section{
             padding: 75px 0 0 480px;
             position: relative;
             h4{
                position: absolute;
                top:80px;
                left:300px;
                background-color: #f0f0f0;
                width: 100px;
                height: 30px;               
             }
             table{
                 input{
                     width: 350px;
                     height: 30px;
                     outline:none;
                     text-indent:15px;
                 }
                 td{
                     width: 100px;
                 }
                 td span{
                     text-transform: uppercase;
                     font-size: 14px;
                     margin-right: 10px;

                 }
              }
            }
        .choice_section{
            padding: 75px 0 0 480px;
            position:relative;
            h4{
               position: absolute;
               top:80px;
               left:300px;
               background-color: #f0f0f0;
               width: 100px;
               height: 30px;            
            }
            table{
                input{
                    width: 350px;
                    height: 30px;
                    outline:none;
                    text-indent:15px;
                }
                tr{
                    .gender{
                        span{
                            display: inline-block;
                            margin-left: 50px;
                        }                    
                        [class*="male"]{
                            width: 15px;
                            height: 15px;
                            position:relative;
                            top:2px;
                        }
                       }
                }
                tr td{
                    width: 100px;
                    }
                }
                td span{
                    text-transform: uppercase;
                    font-size: 14px;
                    margin-right: 10px;
                }               
             }

           .su_b button{
               width: 100px;
               height: 50px;
               position: relative;
               top: 80px;
               left: 550px;
               background-color: @color-main;
               border:none;
               border-radius:4px;
               outline:none;
               span{
                   text-transform: uppercase;
                   font-size: 16px;
               }
           }
        }








    }
    // wrap
